<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>

  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/task/list', userId]">
      <mat-icon class="mat-icon" inline="true">Список действий</mat-icon></a>
  </div>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><h2>{{action.id}}</h2></mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <dl>
        <dt>ID:</dt>
        <dd>{{action.id}}</dd>
        <dt>Название:</dt>
        <dd>{{action.name}}</dd>
        <dt>Описание:</dt>
        <dd>{{action.description}}</dd>
        <dt>Время старта:</dt>
        <dd>{{action.startDate}}</dd>
        <dt>Время завершения:</dt>
        <dd>{{action.endDate}}</dd>
      </dl>
    </mat-card-content>

    <mat-card-actions>
      <a mat-flat-button color="primary" [routerLink]="['/action-edit', userId, action.id]">
        <mat-icon class="mat-icon" inline="true">Обновить</mat-icon></a>
      <a mat-flat-button color="warn" (click)="deleteById(userId, action.id)">
        <mat-icon class="mat-icon" inline="true">Удалить</mat-icon></a>
    </mat-card-actions>
  </mat-card>
</div>
